
.last-size {
    margin-left: -37px !important;
    height: 278.5px !important;
    width: 374px !important;
    margin-top: -79px!important;
}





.cd-dropdown-content .cd-secondary-dropdown>.see-all a {
    margin-top: 10px !important;
    }




#sv__logo .sv__logo--img {
    height: 150px;
    width: 91px;
}


.shadow-on {
    height: 76px !important;
    margin-top: 0px !important;
}

.shadow-on h1{
    margin-top: 15px !important;
}

.shadow-on #sv__logo .sv__logo--img {
    height: 50px;
    width: 30px;
}

#sv__logo {
    width: 333px;
}

#sv__logo h1 {
    margin-top: 96px;
}

.shadow-on #sv__logo .sv__logo--img {
    height: 70px;
    width: 47px;
    margin: 2px 10px 10px;
}

.menuheader {
    top: 281px;
    margin: 0 auto;
    background-color: transparent !important;
    width: 50% !important;
    position: relative;
    overflow: hidden;
}

.tparrows {
    display: none !important;
}

.cd-dropdown-trigger {
    border-radius: 6px;

}

.sv-feature-subtitle {
    font-family: cursive !important;
}

.intro .sub-copy {
    font-family: georgia !important;
    font-size: 20px !important;
}

.intro h5, .intro h6, .intro p {
    font-size: 31px !important;
}

.svfm2__wrapper .tab__panel .desc {
    font-size: 20px !important;
}

.headline-intro h4, .hero-content.header h3, .subtext {
    font-family: georgia !important;
}

body, html {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1507px) {


    .under-master{
        top: 200px !important;
    }
}

@media only screen and (min-width:768px) {

    .pc-none{
        display: none !important;
    }

}



@media only screen and (max-width:768px) {
    #sv__logo .sv__logo--img {
        margin: 1px 15px 10px;
        height: 59px !important;
        width: 40px !important;
        display: block;
        float: left;
        position: relative;
    }

    #sv__logo h1 {
        margin-top: 14px !important;
        margin-left: 75px;
        width: 66% !important;
    }

    #cascadeFeature {
        display: none;
    }

    .mobile-none {
        display: none;
    }

    .inner-lg {
        padding: 6px 0;
    }

    .footer__logo .logo__container h3 {

        margin-left: -20px;

    }

}

@media only screen and (min-device-width : 410px) and (max-device-width : 418px) {

    #sv__logo h1{

        margin-left: 104px;

    }

    .last-size{
        margin-left: -23px !important;
    }

    .footer__logo .logo__container h3 {
        margin-left: 1px;
    }

}

@media only screen and (max-width:359px) {

    #sv__logo {
        width: 286px !important;
    }

    .last-size {
        margin-left: -57px !important;
    }

    .footer__logo .logo__container h3{
        margin-left: -26px;
        letter-spacing: 4px;
    }

    #sv__logo h1 {
        margin-left: 74px;
    }

}
